.md-button {
    text-transform: none !important;
}

md-input-container:not(.md-input-invalid)>md-icon.dodgerblue {
    color: dodgerblue;
}

md-input-container:not(.md-input-invalid)>md-icon.green {
    color: green;
}

md-input-container:not(.md-input-invalid)>md-icon.gold {
    color: goldenrod;
}

md-input-container:not(.md-input-invalid)>md-icon.pink {
    color: deeppink;
}

md-input-container:not(.md-input-invalid)>md-icon.darkslategrey {
    color: slategray;
}

md-input-container:not(.md-input-invalid)>md-icon.lawngreen {
    color: limegreen;
}

md-input-container:not(.md-input-invalid)>md-icon.mediumblue {
    color: mediumblue;
}

md-input-container:not(.md-input-invalid)>md-icon.purple {
    color: purple;
}

md-input-container.md-input-invalid>md-icon.dodgerblue,
md-input-container.md-input-invalid>md-icon.green,
md-input-container.md-input-invalid>md-icon.gold,
md-input-container.md-input-invalid>md-icon.pink,
md-input-container.md-input-invalid>md-icon.darkslategrey,
md-input-container.md-input-invalid>md-icon.lawngreen,
md-input-container.md-input-invalid>md-icon.purple,
md-input-container.md-input-invalid>md-icon.mediumblue {
    color: red;
}

md-input-container>md-icon.auto_complete {
    float: left;
    margin-top: 19px;
}

md-input-container>div.auto_complete {
    margin-left: 32px;
    display: block;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #00c853;
}

md-toast.md-warn-toast-theme .md-toast-content {
    background-color: #827717;
}

md-toast.md-info-toast-theme .md-toast-content {
    background-color: #1e88e5;
}

md-toast.md-error-toast-theme .md-toast-content {
    background-color: #d32f2f;
}

md-toast {
    z-index: 10000;
}

.danger {
    text-transform: none;
    font-weight: bold;
    color: #c2185b;
}

.full-sc-dialog {
    max-width: 100%;
    max-height: 100%;
    width: 80%;
    height: 80%;
    border-radius: 5;
}

.sd-datepicker {
    margin-left: -15px;
}

.md-datepicker-input-container {
    width: 94%;
}

.sd-datepicker .md-datepicker-input {
    margin-left: -16px;
    max-width: 100%;
    width: 50%;
}

.md-datepicker-triangle-button.md-button.md-icon-button {
    position: relative;
    margin-left: -45px;
}

md-dialog.md-SundewTheme-theme {
    background: #FAFAFA;
}

.default-card-container {
    width: 180px;
    height: 130px;
    margin-left: 15px;
    /*20px;*/
    margin-bottom: 15px;
    /*20px*/
}

.default-card-preview {
    width: auto;
    height: 100px;
    border-bottom: 1px solid #F3EEEE;
}

.img-container {
    width: 100px;
    height: 100px;
    padding: 3px 0 3px 0;
}

.img-border {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background: #FFF;
    border: 1px solid #CCC;
    position: relative;
    display: block;
}

.img-button {
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    width: 100px;
    height: 100px;
}

.img-button md-icon {
    font-size: 4em;
}

.default-card-preview:hover .img-button {
    opacity: 0.6;
}

.img-drive {
    width: 64px;
    height: 64px;
}