<md-dialog class="full-sc-dialog" aria-label="" md-theme="SundewTheme">
    <md-toolbar style="background-color:#4D3343">
        <div class="md-toolbar-tools">
            <legend style="padding:20px 0px 0px 20px;">
                Sundew Drive
            </legend>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="idc.answer(false)">
                <md-icon md-font-icon="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        
            <sd-micon layout-fill p-select-click="idc.answer(value)"></sd-micon>
        
    </md-dialog-content>
</md-dialog>