<div flex layout-fill>
  <div layout="row" layout-fill>
    <!--
    <div flex="50">
      <div md-whiteframe flex="100" flex-gt-sm="100" layout="column" layout-fill>
        <md-event-calendar ng-model="selected" md-events="events" md-event-click="eventClicked($selectedEvent)" md-label="title"
          md-show-create-link="true" md-create-event-click="eventCreatea($date)" md-create-disabled="true" auto-height="" class="sundew-theme">
          <md-event-calendar-header class="md-center">
            <md-event-calendar-prev></md-event-calendar-prev>
            <md-event-calendar-title></md-event-calendar-title>
            <md-event-calendar-next></md-event-calendar-next>
          </md-event-calendar-header>
        </md-event-calendar>
      </div>
    </div>
  -->
    <div flex="50" layout-fill>
      <sd-treeview></sd-treeview>
      <sd-img img-model="dc.testdd"></sd-img>
      <button ng-click="dc.test(ev)">test</button>
      <sd-micon layout-fill></sd-micon>

      <sd-drive p-reload="dc.test()" p-context="true"></sd-drive>

    </div>
  </div>
</div>