<div flex layout-fill>
  <div layout="row" layout-xs="column">
    <div flex>
      <div md-whiteframe flex="100" flex-gt-sm="100" layout="column">
      <md-event-calendar ng-model="selected" md-events="events" md-event-click="eventClicked($selectedEvent)" md-label="title"
        md-show-create-link="true" md-create-event-click="eventCreatea($date)" md-create-disabled="true" auto-height="" class="sundew-theme">
        <md-event-calendar-header class="md-center">
          <md-event-calendar-prev></md-event-calendar-prev>
          <md-event-calendar-title></md-event-calendar-title>
          <md-event-calendar-next></md-event-calendar-next>
        </md-event-calendar-header>
        </md-event-calendar>
      </div>
    </div>
    <div flex>
      <sd-drive p-reload="dc.test()"></sd-drive>
    </div>
  </div>
</div>